/.idea
/.vscode

/app
/bootstrap
/config
/database
/lang
/node_modules
/public
/resources
/routes
/storage
/test
/tests
/vendor

.env
.gitattributes
.styleci.yml
artisan
composer.json
composer.lock
package-lock.json
phpunit.xml